.App {
  text-align: center;
}

.background-canvas{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.border {
  border-left: thin solid black;
  border-right: thin solid black;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 0px;
  color: white;
}

.header-color{
  background-color: #222;
}

.App-title {
  font-size: 1.15em;
}

.App-intro {
  font-size: large;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: rgb(51, 58, 71);
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}